html
    head
        include header
    body.login 
        .contenedor-formulario 
            h1 Crea cuenta en Uptask

            include ./errorsForm
            
            form#formulario.caja.caja-login(action="/crear-cuenta" method="POST")
                .campo
                    label(for="mail") Mail: 
                    input(type="text" id="mail" name="mail" placeholder="mail" value= mail required)     
                .campo
                    label(for="password") password: 
                    input(type="password" id="password" name="password" placeholder="password" value= password required)                     
                .campo.enviar
                    input.boton(type="submit" value="crear cuenta" class="boton")
                .campo
                    a(href="/iniciar-sesion") Volver a iniciar sesion

            

